{% extends 'padre.html' %}
{% block title %} muestra {% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <div class="col-md-7">

      </div>
    
    </div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
</head>
     
     <center>
     <a href="/menu" >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4500" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <polyline points="5 12 3 12 12 3 21 12 19 12" />
            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
          </svg>
     </a>
    </center>
    </div>
  </nav>
  <br><br>
    <table class="class="table table-dark"">
        <thead>
            <tr>
                <td>id</td>
                <td>nombre</td>
                <td>Email</td>
                <td>Contraseña</td>
                <td>Tipo</td>
                <td>Opciones</td>
            </tr> 
        </thead>
            <tbody>
               {% for contact in contacts %} 
               <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.password }}</td>
                <td>{{ contact.id_tip_usu }}</td>
                <td>
                    <a href="/delete/{{contact.id}}" class="btn btn-danger">ELIMINAR</a>
                </td>
               </tr>
               {% endfor%}
            </tbody>
    </table>
    {% endblock %}